@import 'colors.module';

html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    color: $text-color-extra-light;
    background-color: $main-background-color;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h1 {
    margin: 0 0 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

button {
    display: block;
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 16px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    color: $text-color-extra-light;
}

.auth-form-title {
    text-align: center;
    margin-bottom: 60px;
}

.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    &__content {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
        background-color: rgba($wrap-background-color, .8);
        box-shadow: 0 30px 30px rgba($extra-dark-color, .5);
    }

    &__field {
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 25px;
        }
    }

    &__footer {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        font-weight: 600;
    }

    &__footer-link {
        margin-left: 5px;
        color: $text-main-color;
    }
}

.heart-icon {
    position: absolute;
    top: -10px;
    right: 10px;
    background-color: white;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    display: block;

    &__empty {
        opacity: 0;
    }

    &__filled {
        opacity: 1;
    }

    &__empty,
    &__filled {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 22px;
        transition: .3s;

        path {
            fill: $text-main-color;
        }
    }

    &:hover {
        .heart-icon {
            &__empty {
                opacity: 1;
            }

            &__filled {
                opacity: 0;
            }
        }
    }
}

.home {
    .movie-card-wrap-enter {
        opacity: 1;
    }

    .movie-card-wrap-enter-done {
        opacity: 1;
    }

    .movie-card-wrap-enter-active {
        opacity: 1;
    }

    .movie-card-wrap-exit {
        opacity: 1;
    }

    .movie-card-wrap-exit-active {
        opacity: 1;
    }

    .movie-card-wrap-exit-done {
        opacity: 1;
        transform: none;
    }
}

.close-icon {
    path {
        fill: $text-color-extra-light;
    }
}

.label {
    box-shadow: 0 0 15px rgba($main-color, .7);
    border: 1px solid rgba($main-color, .5);
    color: $text-color-extra-light;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    padding: 2px 12px 3px;
    border-radius: 12px;
    margin-left: 10px;
}

.reaction-icon,
.reply-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;

    path {
        fill: $text-color-extra-light;
    }
}

.arrow-icon {
    width: 20px;
    height: 20px;
}

input[type='file'] {
    opacity: 0;
}

@keyframes default-loader-animation {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo-animation {

    100% {
        transform: rotate(360deg);
    }
}